.contentWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 453px;
  column-gap: 12rem;
  margin: 0 auto;
  height: 100vh;
  max-width: 120rem;
}

.contentSigned::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20rem;
  height: 100vh;
  width: 42rem;
  background: url(./../images/background.svg) no-repeat;
  background-size: cover;
}
